<div>
    <input class="form-control mb-3" placeholder="First Name">
    <input class="form-control mb-3" placeholder="Last Name">
    <input class="form-control mb-3" placeholder="Designation">
    <input class="form-control mb-3" placeholder="City">
    <input class="form-control mb-3" placeholder="Salary">
</div>
<div class="row">
    <div class="col-md-6">
        <button class="btn btn-success w-100">
            <i class="bi bi-save"></i>
            SUBMIT
        </button>
    </div>
    <div class="col-md-6">
        <button class="btn btn-secondary w-100">
            <i class="bi bi-arrow-clockwise"></i>
            CLEAR
        </button>
    </div>
</div>
